<script>
'use strict';
$(() => {

  $('button#clear').click(() => {
    window.location.href = '/xy';
  });

});
</script>

<div id="button-box">
  <button type="button" id="clear">clear</button>
</div>
